body {
	background: #ececec;
	width: 777px;
	margin-left: auto;
	margin-right: auto;
}

#name {
	font-family: "Open Sans", "Helvetica", Arial, sans-serif;
	font-weight: 300;
	float: right;
	text-align: right;
	width: 300px;
	color: #222222;
	line-height: 35px;
	height: 35px;
	margin-top: 15px;
}

#header {
	border-bottom: 1px #b7b7b7 solid;
	height: 70px;
}

ul.tabs {
	float: left;
	list-style-type: none;
	padding-left: 0px;
	width: 400px;
	margin: 0px;
	height: 35px;
	vertical-align: center;
	margin-top: 14px;
	margin-bottom: 21px;
}

li.tab {
	display: inline-block;
	font-family: "Open Sans", "Helvetica", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 300;
	margin-right: 15px;
}

li.tab.active {
	font-weight: 700;
}

a.nav_link {
	color: #222222;
	text-decoration: none;
}

#content {
	border-top: 1px #ffffff solid;
	margin-bottom: 40px;
}