body {
	background: #ececec;
	text-align: right;
	width: 777px;
	margin-left: auto;
	margin-right: auto;
}

#name {
	font-family: "Open Sans", "Helvetica", Ariel, sans-serif;
	font-weight: 300;
	color: #222222
}

#header {
	border-bottom: 1px #b7b7b7 solid;
}

#content {
	border-top: 1px #ffffff solid;
}